<!DOCTYPE html>
<html>
<head>
    <title>My Page</title>
</head>
<body>
    <h2>마이 페이지</h2>
    <p><strong>아이디:</strong> {{ user.username }}</p>
    <p><strong>이메일:</strong> {{ user.email }}</p>
    <p><strong>이름:</strong> {{ user.first_name }}</p>
    <p><strong>생일:</strong> {{ profile.birth_date }}</p>
    <p><strong>휴대폰번호:</strong> {{ profile.phone_number }}</p>
    <p><strong>가게명:</strong> {{ profile.store_name }}</p>
    <p><strong>주소:</strong> {{ profile.address }}</p>
    <a href="{% url 'upload_file' %}">Upload Data</a>
    <a href="{% url 'logout' %}">로그아웃</a>
</body>
</html>
